<!-- Inclusão do Header -->
<%- include('include/_header') %>
<!-- /Inclusão do Header -->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/autor" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i> Todos Autores</span>
                    </a>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark">Novo Autor</h2>
                    <span class="text-light">Use abaixo para cadastrar um novo autor</span>
                </div>

                <!-- Inclusão do form do autor -->
                    <%- include('include/autor/_form_autor') %>
                <!-- /Inclusão do form do autor -->
            </div>
        </main>
    <!-- /Main Site -->

<!-- Inclusão do Footer -->
<%- include('include/_footer') %>
<!-- /Inclusão do Footer -->