<!-- Inclusão do Header -->
<%- include('include/_header') %>
<!-- /Inclusão do Header -->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/aluno" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i> Voltar</span>
                    </a>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark">Novo Aluno</h2>
                    <span class="text-light">Use abaixo para cadastrar um novo aluno</span>
                </div>

                <div class="form_add">
                    <!-- Inclusão do form do aluno -->
                        <%- include('include/aluno/_form_aluno', {acao: 'add'}) %>
                    <!-- /Inclusão do form do aluno -->
                </div>

            </div>
        </main>
    <!-- /Main Site -->

<!-- Inclusão do Footer -->
<%- include('include/_footer') %>
<!-- /Inclusão do Footer -->