<!-- Inclusão do Header -->
    <%- include('include/_header') %>
<!-- /Inclusão do Header -->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/add_aluno" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-user-plus"></i> Novo Aluno</span>
                    </a>
                </div>

                <!-- form handling -->
                    <form action="/" method="POST">
                        <table class="table">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Nome</th>
                                    <th>Matrícula</th>
                                    <th class="th-acoes">Ações</th>
                                </tr>
                            </thead>

                            <tbody>
                                <%- include('include/aluno/_show_aluno') %>
                            </tbody>

                        </table>
                    </form>
                <!-- /form handling -->

            </div>
        </main>
    <!-- /Main Site -->

<!-- Inclusão do Footer -->
    <%- include('include/_footer') %>
<!-- /Inclusão do Footer -->