<!-- Inclusão do Header -->
<%- include('include/_header') %>
<!-- /Inclusão do Header -->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/autor" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i> Todos Autores</span>
                    </a>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark">Edição do Autor</h2>
                    <span class="text-light">Use abaixo para editar o autor</span>
                </div>

                <!-- Inclusão do form do autor -->
                    <form method="POST" id="update_autor">
                        <div class="form_autor">
                            <div class="form-group">
                                <label for="nome" class="text-light">Nome</label>
                                <input type="hidden" name="id" value="">
                                <input type="text" name="nome" value="">
                            </div>

                            <div class="form-group">
                                <button type="submit" class="btn text-dark update">Salvar</button>
                            </div>
                        </div>
                    </form>
                <!-- /Inclusão do form do autor -->
            </div>
        </main>
    <!-- /Main Site -->

<!-- Inclusão do Footer -->
<%- include('include/_footer') %>
<!-- /Inclusão do Footer -->