<!-- Inclusão do Header -->
<%- include('include/_header') %>
<!-- /Inclusão do Header -->

    <!-- Main Site -->
        <main id="site-main">
            <div class="container">
                <div class="box-nav d-flex justify-between">
                    <a href="/locacao" class="border-shadow">
                        <span class="text-gradient"><i class="fas fa-angle-double-left"></i> Voltar</span>
                    </a>
                </div>

                <div class="form-title text-center">
                    <h2 class="text-dark">Edição do Locação</h2>
                    <span class="text-light">Use abaixo para editar o locação</span>
                </div>

                <div class="form_update">
                    <!-- Inclusão do form do locacao -->
                        <%- include('include/locacao/_form_locacao', {acao: 'update'}) %>
                    <!-- /Inclusão do form do locacao -->
                </div>

            </div>
        </main>
    <!-- /Main Site -->

<!-- Inclusão do Footer -->
<%- include('include/_footer') %>
<!-- /Inclusão do Footer -->