<form action="/api/aluno" method="POST" id="<%- acao %>_aluno">
    <div class="form_aluno">
        <input type="hidden" name="id" id="id" value="">
        <div class="form-group">
            <label for="nome" class="text-light">Nome <span class="campo-required">*</span></label>
            <input type="text" name="nome" id="nome" value="">
        </div>

        <div class="form-group">
            <label for="matricula" class="text-light">Matrícula <span class="campo-required">*</span></label>
            <input type="number" name="matricula" id="matricula" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark <%- acao %>">Salvar</button>
        </div>
    </div>
</form>