<form action="/api/livro" method="POST" id="<%- acao %>_livro">
    <div class="form_livro">
        <input type="hidden" name="id" id="id" value="">
        <div class="form-group">
            <label for="titulo" class="text-light">Título <span class="campo-required">*</span></label>
            <input type="text" name="titulo" id="titulo" value="">
        </div>

        <div class="form-group">
            <label for="paginas" class="text-light">Página(s)</label>
            <input type="number" name="paginas" id="paginas" value="">
        </div>

        <div class="form-group">
            <label for="genero" class="text-light">Gênero(s)</label>
            <input type="text" name="genero" id="genero" value="">
        </div>
        
        <div class="form-group">
            <label for="autor" class="text-light">Autor <span class="campo-required">*</span></label>
            <select name="autor" id="autorId">
                <option value="">Selecione</option>
                <% for(var i = 0; i < autores.length; i++){ %>
                    <option value="<%= autores[i]._id; %>"><%= autores[i].nome; %></option>
                <% } %>
            </select>
        </div>

        <div class="form-group">
            <label for="datalancamento" class="text-light">Data Lançamento</label>
            <input type="date" name="datalancamento" id="datalancamento" value="">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark add">Salvar</button>
        </div>
    </div>
</form>